@import "tailwindcss/preflight";
@tailwind utilities;

@font-face {
  font-family: 'Rellion';
  src: url('/fonts/Rellion.otf') format('opentype');
}


* {
  font-family: 'Rellion', sans-serif;
}

.app {
    /* Add !important if needed */
    position: relative !important;
    min-height: 100vh !important;
  }
  
  /* Ensure Toastify container doesn't interfere with layout */
  .Toastify {
    position: fixed;
    z-index: 9999;
  }